<%- include ('partials/header.ejs') %>
<body>7
    <%- include('partials/navbar.ejs') %>
    <div class="container">
        <div class="card" id="cadastro-disciplina">
            <div class="card-header">
                <h3>Disciplina Cadastrada</h3>
            </div>
            <div class="card-body">
                <form method="GET" action="">
                    <table class="table table-bordered table-striped table-hover">
                        <tr>
                            <td class="card-body col-1">Disciplina: </td>
                            <td class="card-body col-3"><%= disciplina.disciplina %></td>
                        </tr>
                        <tr>
                            <td class="card-body col-1">Professor: </td>
                            <td class="card-body col-3"><%= disciplina.professor %></td>
                        </tr>
                        <tr>
                            <td class="card-body col-1">Código da Disciplina: </td>
                            <td class="card-body col-3"><%= disciplina.codigo %></td>
                        </tr>
                        <tr>
                            <td class="card-body col-1">Código da Turma: </td>
                            <td class="card-body col-3"><%= disciplina.turmaCodigo %></td>
                        </tr>
                    </table>
                    <small><%= disciplina.data %></small>
                </form>
            </div>
        </div>
    </div>  



</body>
<%- include('partials/footer.ejs') %>
